.wrapper {
  width: 300px;
  border: 2px solid rgb(181, 180, 180);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.button:hover {
  color: red;
}

.icon {
  margin-right: 5px;
}
